@use '../util' as *;

.guess {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(3);

    &__tile {
        border: rem(2) solid hsl(0, 0%, 26%);
        width: rem(52);
        height:rem(52);
        display: flex;
        place-content: center;

    }

    .correct {
        background-color:hsl(115, 29%, 43%);
        border-color: hsl(115, 29%, 43%);
    }

    .present {
        background-color:hsl(49, 51%, 47%);
        border-color: hsl(49, 51%, 47%);
    }

    .absent {
        background-color:hsl(240, 2%, 23%);
        border-color: hsl(240, 2%, 23%);
    }
}